/* Header */

%header.universal.header
  .universal-box
    .universal-item.col-large-3-1
      = render partial: "lib/components/primary_navigation_left"
    .universal-item.col-large-3-1
      = render partial: "lib/components/brand_header"
    .universal-item.col-large-3-1
      = render partial: "lib/components/primary_navigation_right"
