/* Open graph */
%meta{ content: "Magensinus Education", property: "og:title" }/
%meta{ content: "Cras mattis consectetur purus sit amet fermentum.", property: "og:description" }/
%meta{ content: "website", property: "og:type" }/
%meta{ content: "https://www.domain.co.uk/", property: "og:url" }/
%meta{ content: image_url("opengraph_default.png"), property: "og:image" }/
/* Twitter cards */
%meta{ content: "summary_large_image", name: "twitter:card" }/
%meta{ content: "@username", name: "twitter:site" }/
%meta{ content: "@username", name: "twitter:creator" }/
%meta{ content: "Magensinus Education", name: "twitter:title" }/
%meta{ content: "Cras mattis consectetur purus sit amet fermentum.", name: "twitter:description" }/
%meta{ content: image_url("opengraph_default.png"), name: "twitter:image" }/
