/* Primary navigation */

.primary-navigation.left
  .primary-navigation-box
    .primary-navigation-item
      = link_to "notícias", root_path
    .primary-navigation-item
      = link_to "newsletter", root_path
