/* Primary navigation */

.primary-navigation
  .primary-navigation-box.right
    .primary-navigation-item
      = link_to "menu", root_path
    .primary-navigation-item
      = link_to "cursos", root_path
