/* Vcard */

.vcard.right
  .vcard-box
    .vcard-item
      %p.text-right.small Address line one
      %p.text-right.small Address line two
      %p.text-right.small Postcode | City
      %p.text-right.small Country
      %p.text-right.small Email
      %p.text-right.small Telephone
