%h3 #{params[:title]}
.trix.white-100-bg
  %div Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.

  %div Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.

  %div Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.

  %ul
    %li Quam Euismod Ornare Pellentesque Magna
    %li Cras Ullamcorper
    %li Ligula Fusce Commodo

  %div Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.

  %ol
    %li Quam Euismod Ornare Pellentesque Magna
    %li Cras Ullamcorper
    %li Ligula Fusce Commodo

  %div Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.

  %ul
    %li Conceber e maquetizar objetos gráficos bidimensionais e tridimensionais utilizando meios eletrónicos e manuais;
    %li Obter imagens e textos por processos eletrónicos;
    %li Criar imagens, gráficos, ilustrações e animações, utilizando meios manuais e informáticos, para determinado fim e/ou tipo de impressão;
    %li Efetuar o tratamento de textos relativamente à sua forma e conteúdo, utilizando programas informáticos específicos;
    %li Efetuar o tratamento de imagens, relativamente à sua cor e forma, utilizando programas informáticos específicos;
    %li Compor a estrutura das páginas, utilizando programas de informática específicos;
    %li Executar provas de baixa e alta resolução e heliográficas (ozalides), utilizando meios eletrónicos, a fim de verificar a sua conformidade com os objetivos pretendidos;
    %li Efetuar o registo da composição gráfica, em película e em chapa, com vista à sua posterior impressão, utilizando meios eletrónicos;
    %li Proceder à calibração dos equipamentos de forma a obter a qualidade pretendida na reprodução dos trabalhos gráficos;
    %li Efetuar o tratamento de textos e de imagens, compor e conceber as páginas para publicação “online” ou para apresentações “offline”.
    %li Conceber e maquetizar objetos gráficos bidimensionais e tridimensionais utilizando meios eletrónicos e manuais;
    %li Obter imagens e textos por processos eletrónicos;
    %li Criar imagens, gráficos, ilustrações e animações, utilizando meios manuais e informáticos, para determinado fim e/ou tipo de impressão;
    %li Efetuar o tratamento de textos relativamente à sua forma e conteúdo, utilizando programas informáticos específicos;
    %li Efetuar o tratamento de imagens, relativamente à sua cor e forma, utilizando programas informáticos específicos;
    %li Compor a estrutura das páginas, utilizando programas de informática específicos;
    %li Executar provas de baixa e alta resolução e heliográficas (ozalides), utilizando meios eletrónicos, a fim de verificar a sua conformidade com os objetivos pretendidos;
    %li Efetuar o registo da composição gráfica, em película e em chapa, com vista à sua posterior impressão, utilizando meios eletrónicos;
    %li Proceder à calibração dos equipamentos de forma a obter a qualidade pretendida na reprodução dos trabalhos gráficos;
    %li Efetuar o tratamento de textos e de imagens, compor e conceber as páginas para publicação “online” ou para apresentações “offline”.
