/* Index */

.container-top.left
.container-middle.left

  / Content
  .content
    .content-box
      .content-item
        %h1 Sem Ridiculus Amet
        .separator.small
        .trix
          %div
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.

  .separator.medium

  / Courses
  .courses
    .courses-box
      .courses-item
        .courses-right
          .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
        .courses-left
          %h3 Mollis Venenatis Pellentesque Inceptos
          .separator.small
          .trix.left
            %div Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          = link_to "Ler Mais", course_path(id: "12345678"), class: "button large blue"

.container-bottom.left
